@page
@model aaron_favorite_music.Pages.MusicAlbums.ListModel
@{
    ViewData["Title"] = "List";
}

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<h2>Music Albums</h2>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" 
            asp-for="SearchTerm">
            <span class="input-group-btn">
                <button class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

@foreach(var musicAlbum in Model.MusicAlbums)
{
    <partial name="_Summary" Model="musicAlbum"/>
}


<!-- <table class="table">
    @foreach (var musucAlbum in Model.MusicAlbums)
    {
        <tr>
            <td>@musucAlbum.AlbumName</td>
            <td>@musucAlbum.Description</td>
            <td>@musucAlbum.Artist</td>
            <td>@musucAlbum.Genre</td>
            <td>@musucAlbum.YearRelase</td>
            <td>
                <a class="btn btn-lg" 
                        asp-page="./Detail" 
                        asp-route-musicAlbumId="@musucAlbum.Id">
                    <i class="glyphicon glyphicon-zoom-in"></i>
                </a>
                <a class="btn btn-lg" 
                        asp-page="./Edit" 
                        asp-route-musicAlbumId="@musucAlbum.Id">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-lg" 
                        asp-page="./Delete" 
                        asp-route-musicAlbumId="@musucAlbum.Id">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>             
        </tr>
    }
</table> -->

<a asp-page="./Edit" class="btn btn-primary">Add New</a>

@section footer {
    <div>@Model.ConfigMessage</div>
}
